<%= render "layouts/app_header.html.erb" %>
<%= link_to raw('<i class="material-icons">arrow_back</i>'), dashboard_index_path, class: 'btn-floating btn-small waves-effect waves-light deep-orange darken-2' %>
<h1>Test</h1>